.navbar li{
    border-bottom: solid 1px transparent;
    padding-bottom: 5px;
    transition: 150ms;
}
.navbar li:hover,.navbar li:global(.active){
    border-bottom: solid 1px #0079FE;
    color: #0079FE;
}
.navbar li.noHover:hover{
    border-bottom: solid 1px transparent;
    color: white;
}