@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair', serif;
  font-family: 'Montserrat', sans-serif;
}
#root{
  min-height: 100vh;
  position: relative;
}
main{
  background-image: url('../image/mainbg.png');
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat-y: repeat;
  background-repeat-x: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main::before{
  content: '';
  background-color: #000000c7;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.main-sec{
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
footer.bg-\[\#272626\]  *{
  color: white !important;
}